body {
    background-color: aquamarine;
    font-family: sans-serif;
    color: rgb(83, 0, 78);
}

.image-container {
    width: 500px;
    margin: auto;
    position: relative;
}

.image-container img, .image-container .draggable-part {
    position: absolute;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.board {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}